@import "tailwindcss";
@import "tailwindcss-primeui";

body {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}
* {
  box-sizing: border-box;
  border: none;
}

.login {
  background: rgba(255, 255, 255, 0.35);
  border: 5px solid rgba(255, 255, 255, 0.2);
  /* border: 5px solid red; */
}

form{
  /* border: 5px solid rgb(151, 14, 133); */
}


.errorText{
color: red;
}